*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    position: relative;
    background-color: #7246a5;
    min-height: 100vh;
}
.filter{
display: flex;
position: absolute;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
top: 0;
background: rgba(24, 22, 22, 0.836);
z-index: 50;
transition: 2s;
}
.modal_none{
    display: none;
}
.modal{
    text-align: center;
    background: #fff;
    height: 100px;
    padding: 10px 15px;
    border-radius: 5px;
}
.modal h2{
    font-weight: bold;
    color: #64329e;
}
.modal button{
    border: none;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
    background: #4B5D67;
    color: white;
    transition: 0.2s all;
}
.modal button:hover{
    transform: scale(1.1);
    
}
body h1{
    padding: 30px; 
    color: #fff;
    text-align: center;
}
hr{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
main{
    display: flex;
     height: auto;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.container-cajas{
    display: grid;
    gap: 5px;
    grid-template: repeat(5,1fr) / repeat(4,1fr);
    position: relative;
    width: 630px;
    height: 630px;
    -webkit-perspective: 700;
    
    z-index: 30;
}
.caja1{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition:  1s;
    background-color: #4B5D67;
    border-radius: 15px;
    cursor: pointer;
    border: rgb(180, 178, 178) 1px solid;
}
.container-cajas div figure img{
    max-width: 100%;
}
.rotar-caja{
    transform: rotateY(180deg);
  
    
}
.lado{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    backface-visibility: hidden;
    
}
.caja-atras{
    background: rgb(255, 254, 255);
    transform: rotateY(180deg);
    border-radius: 15px;
    border: none;
    
}
.caja-atras img{
    width: 70%;
}
.caja-frente{
    border-radius: 15px;
    height: 100%;
    background: url("https://pngimg.com/uploads/pokeball/pokeball_PNG8.png") center/contain no-repeat;
    border: none;
}
.container-time{
    display: none;
    
    height: 300px;
    width: 200px;
    align-self: center;
    flex-direction: column;
    align-items: center;
    background: #64329e;

    border-radius: 5px;
    justify-content: center;
    color: #fff;
    border: 1px solid #fff;
}
.container-time h4{
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
